{% extends 'base.html.twig' %}

{% block title %}Habilitations index{% endblock %}

{% block body %}
    <h1>Habilitations index</h1>

    <table class="table table-striped table-hover">
        <thead class="bg-dark text-white">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habilitation in habilitations %}
            <tr>
                <td>{{ habilitation.id }}</td>
                <td>{{ habilitation.libelle }}</td>
                <td>
                    <a href="{{ path('app_habilitations_show', {'id': habilitation.id}) }}"class="btn btn-secondary">Voir</a>
                    <a href="{{ path('app_habilitations_edit', {'id': habilitation.id}) }}"class="btn btn-success">Modifier</a>
                    <a href="{{ path('app_habilitations_delete', {'id': habilitation.id}) }}"class="btn btn-danger">Supprimer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ligne n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habilitations_new') }}"class="btn btn-light">Creer une habilitation</a>
{% endblock %}
