{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Rôle</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                    <td>{{ utilisateur.id }}</td>
                    <td>{{ utilisateur.user.email }}</td>
                    <td>{{ utilisateur.user.nom }}</td>
                    <td>{{ utilisateur.role.libelle }}</td>
                    <td>
                    <a href="{{ path('app_utilisateurs_show', {'id': utilisateur.id}) }}"class="btn btn-info text-white">Voir</a>
                    <a href="{{ path('app_utilisateurs_edit', {'id': utilisateur.id}) }}"class="btn btn-success text-white">Modifier</a>
                    <a href="{{ path('app_utilisateurs_delete', {'id': utilisateur.id}) }}"class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateurs_new') }}"class="btn btn-primary">Creer</a>
{% endblock %}
